body {
    margin: 0 auto;
    width: 84%;
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 8px;
}

nav {
    background-color: #ff6600;
    margin: 0 auto;
    padding: 2px 4px 2px 0;
    
}

.pad {
    padding-top: 8px;
} 

#y {
    width: 20px;
    height: 20px;
    border:1px white solid; 
    display:block;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 11pt;
    padding: 0px 0px 0px 0px;
    margin: 0 0 0 0;
}

#rank {
    color: #828282;
}

.list {
    padding: 0px 2.5px 0px 2.5px;
}

#smallLink {
    font-size: 8pt;
}

h1 {
    font-size: 11pt;
    padding: 0 6px 0 0;
    margin: 0;
}

#right {
    flex: auto;
    text-align: right;
}

.items {
    background: #f6f6ef;
    margin: 0 auto;
    padding: 3px 0px 0px 8px;
}

.small-ul {
    font-size: 7pt;
    color: #828282;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 3px 0 0 0;
}

.small-list {
    padding: 0px 1px 0px 1px;
}

#vote {
    height: 9px;
    width: 9px;
}

a:visited {
    color: #828282;
}

.hStyle:visited {
    color: black;
}

a:link {
    color: black;
    text-decoration:none;
}

.link:link {
    color: #828282;
    text-decoration:none;
}

.link:link:hover {
    text-decoration:underline;
}

details {
    padding: 15px 0 0 0px;
}

hr {
    height: 3px;
    background-color: #ff6600;
    width: 100%;
    border: none;
    margin: 15px 0 10px 0;
}

footer {
    margin: 0 auto;
    width: 47%;
    padding-bottom: 10px;
}

.search {
    margin: 0 auto;
    width: 25%;
    padding-bottom: 20px;
}