body {
    margin: 0 auto;
    width: 83.5%;
    font-family: Verdana, Geneva, sans-serif;
}

nav {
    background-color: #ff6600;
    margin: 0 auto;
}

img {
    width: 18px;
    height: 18px;
    border:1px white solid; 
    display:block;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 10pt;
    padding: 2px 5px 2px 0px;
    margin: 6px 0 0 0;
}

#rank {
    color: #828282;
}

.list {
    padding: 0px 2.5px 0px 2.5px;
}

/* #h-style {

} */

#bold {
    font-weight: bold;
    padding-right: 5px;
}

#right {
    flex: auto;
    text-align: right;
}

.items {
    background: #f6f6ef;
    margin: 0 auto;
    padding: 2px 0px 0px 2px;
}

.small-ul {
    font-size: 7pt;
    color: #828282;
    display: flex;
    align-items: center;
    list-style: none;
}

.small-list {
    padding: 0px 1px 0px 1px;
}

#vote {
    height: 10px;
    width: 10px;
}

a:visited {
    color: #828282;
}

.hStyle:visited {
    color: black;
}

a:link {
    color: black;
    text-decoration:none;
}

.link:link {
    color: #828282;
    text-decoration:none;
}

.link:link:hover {
    text-decoration:underline;
}
